/* btn {

}*/

.btn-select.active {
    background-color: #d0d0d0;
    border-color: #337ab7;
}

.btn-select.active.focus {
    outline: none;
    background-color: #d0d0d0;
    border-color: #337ab7;
}

.btn-select.focus {
    outline: none;
    border-color: #dbdbdb;
}

/* https://github.com/ftlabs/fastclick/issues/83#issuecomment-295723072 */
.disable-hover {
  pointer-events: none;
}

tr.table-total-row {
    font-weight:bold; border-top:2px solid #DDDDDD;
}

table.table-sidebar {
    text-align: left; table-layout: fixed; margin-bottom: 0;
}

table.table-sidebar td {
    padding-top: 0;
}

table.table-sidebar td.td-small {
    width: 17%;
    text-align: right;
    padding: 5px;
}

table.table-sidebar td.td-big {
    width: 83%;
    /* Write ... in lines that are too long */
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    padding: 5px;
}

.btn-user {
    width: 237px;
    margin-bottom: 10px;
}

.btn-product {
    width: 175px;
    margin-bottom: 5px;
}

.btn-group-letters {
    /*padding-right: 10px;*/
    /*padding-left: 10px;*/
}

.btn-letters {
    font-size: 1.2em;
}


hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Five column layout */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* test dropdown permanent */



