/* btn {

}*/

table.table-sidebar {
    text-align: left; table-layout: fixed; margin-bottom: 0;
}

table.table-sidebar td {
    padding-top: 0;
}

table.table-sidebar td.td-small {
    width: 17%;
    text-align: right;
}

table.table-sidebar td.td-big {
    width: 83%;
    /* Write ... in lines that are too long */
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.btn-user {
    width: 220px;
    margin-bottom: 10px;
}

.btn-product {
    width: 175px;
    margin-bottom: 5px;
}

.btn-group-letters {
    padding-right: 10px;
    padding-left: 10px;
}

.btn-letters {
    font-size: 1.2em;
}


hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Five column layout */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* test dropdown permanent */



