Django~=5.2.0
django-bootstrap3~=26.1
django-crispy-forms~=2.6
crispy-bootstrap3~=2024.1
django-debug-toolbar~=6.3
django-filter~=25.2
djangorestframework~=3.17
django-environ~=0.13
babel~=2.18
gunicorn~=26.0
python-easyverein~=2.4.0
