{% load barsys_helpers %}
{% load tz %}
<table>
    <thead class="left">
    <th>Datum</th>
    <th>Einkäufe</th>
    <th>Zahlungen</th>
    <th>(Schuld)</th>
    </thead>
    <tbody>
    {% for i in invoices %}
        <tr>
            <td>{{ i.created_date|localtime|sdatetime }}</td>
            <td>{{ i.amount_purchases|currency }}</td>
            <td>{{ i.amount_payments|currency }}</td>
            <td>({{ i.due|currency }})</td>
        </tr>
    {% endfor %}
    {% if not invoices %}
        <tr>
            <td colspan="2">Keine</td>
        </tr>
    {% endif %}
    </tbody>
</table>