{% load barsys_helpers %}
{% load tz %}
<table>
    <thead class="left">
    <th>Datum</th>
    <th>Betrag</th>
    <th>Zahlungsart</th>
    <th>Kommentar</th>
    </thead>
    <tbody>
    {% for p in payments %}
        <tr>
            <td>{{ p.created_date|localtime|sdatetime }}</td>
            <td>{{ p.amount|currency }}</td>
            <td>{{ p.get_payment_method_display }}</td>
            <td>{{ p.comment }}</td>
        </tr>
    {% endfor %}
    {% if not payments %}
        <tr>
            <td colspan="4">None</td>
        </tr>
    {% endif %}
    </tbody>
</table>