{% extends 'barsys/main/with_sidebar_base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}

{% block bootstrap3_title %}{% if multibuy %}Purchase as {{ users.count }} users{% else %}Purchase as
    {{ user.display_name }}{% endif %}{% endblock %}

{% block sidebar_content %}
    <li><a href="{% url 'main_user_list' %}">{% bootstrap_icon "home" extra_classes="pull-left" %} Home</a></li>

    {% if multibuy %}
        <li class="active"><a href="">
            {% bootstrap_icon "shopping-cart" extra_classes="pull-left" %} Purchase as {{ users.count }} users</a></li>
    {% else %}
        <li class="active"><a href="{% url 'main_user_purchase' user.id %}">
            {% bootstrap_icon "shopping-cart" extra_classes="pull-left" %} Purchase as {{ user.display_name }}</a></li>
        <li><a href="{% url 'main_user_history' user.id %}">{% bootstrap_icon "th-list" extra_classes="pull-left" %}
            History
            of {{ user.display_name }}</a></li>
    {% endif %}
    <hr/>
    <form method="POST" id="purchase_form" style="margin-top: 15px;">
        {% csrf_token %}
        {% if not multibuy %}
            <input type="hidden" name="user_id" value="{{ user.pk }}">
        {% endif %}
        <div class="form-group form-group-lg">
            <input type="text" style="text-align: center;" id="comment" name="comment"
                   class="form-control" placeholder="Comment" maxlength="50"
                   value="{{ form.comment.value|default_if_none:"" }}">
        </div>
        {% if not multibuy %}
            <div class="form-group form-group-lg">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="give_away_free"> Give this away for free
                    </label>
                </div>
            </div>
        {% endif %}
        <div class="form-group form-group-lg">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="purchase_more_for_same_users"> Purchase more for same user(s)
                </label>
            </div>
        </div>
        {% if multibuy %}
            <p class="help-block">MultiBuy: Quantity per user</p>
            <p class="help-block">Purchasing as:
                {% for u in users %}{% if forloop.first %}{% elif forloop.last %} & {% else %}, {% endif %}
                    {{ u.display_name }}{% endfor %}
            </p>
        {% endif %}
        <div class="form-group">
            <div class="input-group input-group-lg">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number"
                                onclick="javascript:decreaseQuantity();">
                            {% bootstrap_icon "minus" %}
                        </button>
                    </span>

                <input type="text" style="text-align: center;" id="quantity" name="quantity"
                       class="form-control input-number" value="1">

                <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number"
                                onclick="javascript:increaseQuantity();">
                            {% bootstrap_icon "plus" %}
                        </button>
                </span>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group btn-group-lg" role="group">
                <a href="{% url 'main_user_list' %}" class="btn btn-danger">{% bootstrap_icon "remove" %} Cancel</a>
            </div>

            <div class="btn-group btn-group-lg" role="group">
                <button type="submit" class="btn btn-success">{% bootstrap_icon "shopping-cart" %} Purchase</button>
            </div>
        </div>


    </form>
{% endblock %}
{% block main_content %}
    <div class="btn-group-horizontal" data-toggle="buttons">
        {% if free_items %}
            <h4><strong>Free items</strong></h4>
            <hr/>
            {% for free_item in free_items %}
                <label class="btn btn-default btn-product btn-select">
                    <input type="radio" form="purchase_form" name="product_id"
                           value="free_item_{{ free_item.pk }}" required> {{ free_item.product.name }}
                    (<strong>{{ free_item.leftover_quantity }} left</strong>)<br/>
                    ({{ free_item.product.amount }},
                    <del>{{ free_item.product.price|currency }}</del>
                    )
                    {% if free_item.comment %}<br/>{{ free_item.comment }}{% endif %}
                </label>
            {% endfor %}
        {% endif %}
        {% for category in categories %}
            {% with products=category.get_products.active %}
                {% if products %}
                    <h4>{{ category.name }}</h4>
                    <hr/>
                    {% for prod in products %}
                        <label class="btn btn-default btn-product btn-select{% if prod.name == most_bought_product.product_name and prod.amount == most_bought_product.product_amount %} active{% endif %}">
                            <input type="radio" form="purchase_form" name="product_id"
                                   value="{{ prod.pk }}" required
                                    {% if prod.name == most_bought_product.product_name and prod.amount == most_bought_product.product_amount %}
                                   checked{% endif %}>
                            {% if prod.is_bold %}<strong>{% endif %} {{ prod.name }}<br/>
                            ({{ prod.amount }}, {{ prod.price|currency }}){% if prod.is_bold %}</strong>{% endif %}
                        </label>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function increaseQuantity() {
            var currentValue = parseInt($('#quantity').val());
            $('#quantity').val(currentValue + 1);
        }

        function decreaseQuantity() {
            var currentValue = parseInt($('#quantity').val());
            if (currentValue > 1) {
                $('#quantity').val(currentValue - 1);
            }
        }
    </script>
{% endblock %}