{% extends 'barsys/main/with_sidebar_base.html' %}

{% load bootstrap3 %}

{% block bootstrap3_title %}Purchase as {{ user.display_name }}{% endblock %}

{% block sidebar_content %}
    <li><a href="{% url 'main_user_list' %}">{% bootstrap_icon "home" extra_classes="pull-left" %} Home</a></li>

    <li class="active"><a href="{% url 'main_user_purchase' user.id %}">
        {% bootstrap_icon "shopping-cart" extra_classes="pull-left" %} Purchase as {{ user.display_name }}</a></li>
    <li><a href="{% url 'main_user_history' user.id %}">{% bootstrap_icon "th-list" extra_classes="pull-left" %} History
        of {{ user.display_name }}</a></li>
    <hr/>
    <form method="POST" id="purchase_form" style="margin-top: 15px;">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user.pk }}">
        <div class="form-group">
            <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number"
                                onclick="javascript:decreaseQuantity();">
                            {% bootstrap_icon "minus" %}
                        </button>
                    </span>

                <input type="text" style="text-align: center;" id="quantity" name="quantity"
                       class="form-control input-number" value="1">

                <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-number"
                                onclick="javascript:increaseQuantity();">
                            {% bootstrap_icon "plus" %}
                        </button>
                    </span>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}
{% block main_content %}
    <div class="btn-group-horizontal" data-toggle="buttons">
        {% for category in categories %}
            {% if category.get_products %}
                <h4>{{ category.name }}</h4>
                <hr/>
                {% for prod in category.get_products %}
                    <label class="btn btn-default btn-product">
                        <input type="radio" form="purchase_form" name="product_id"
                               value="{{ prod.pk }}" required> {{ prod.name }}<br/>
                        ({{ prod.amount }}, {{ prod.price }} €)
                    </label>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function increaseQuantity() {
            var currentValue = parseInt($('#quantity').val());
            $('#quantity').val(currentValue + 1);
        }

        function decreaseQuantity() {
            var currentValue = parseInt($('#quantity').val());
            if (currentValue > 1) {
                $('#quantity').val(currentValue - 1);
            }
        }
    </script>
{% endblock %}