{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Categories</h1>
    <a href="{% url 'admin_category_new' %}">
        <button class="btn btn-primary pull-right">{% bootstrap_icon 'plus' %} Add new category</button>
    </a>
{% endblock %}
{% block tablehead %}
    <tr>
        <th>Name</th>
        <th>Number of products</th>
        <th>{% bicon 'info-sign' %}</th>
        <th>{% bicon 'pencil' %}</th>
        <th>{% bicon 'trash' %}</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for category in object_list %}
        <tr>
            <td><a href="{% url 'admin_category_detail' category.pk %}">{{ category.name }}</a></td>
            <td>{{ category.get_number_products }}</td>
            <td>
                <a href="{% url 'admin_category_detail' category.pk %}">{% bicon 'info-sign' %}</a>
            </td>
            <td><a href="{% url 'admin_category_update' category.pk %}">{% bicon 'pencil' %}</a>
            </td>
            <td><a href="{% url 'admin_category_delete' category.pk %}">{% bicon 'trash' %}</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=True %}
{% endblock %}