{% extends 'barsys/admin/base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}
{% load humanize %}
{% block content %}
    <div>
        <h1 class="pull-left" style="margin-top: 0;">Invoice details</h1>
        <div class="btn-group pull-right" role="group">
            <a href="{% url 'admin_invoice_resend' invoice.pk %}" class="btn btn-primary">
                {% bootstrap_icon 'send' %} Resend
            </a>
            <a href="{% url 'admin_invoice_delete' invoice.pk %}" class="btn btn-danger">
                {% bootstrap_icon 'remove-sign' %} Delete
            </a>
        </div>
    </div>
    <div class="table-responsive" style="overflow-x: inherit;">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Time</th>
                <td>{{ invoice.created_date }}</td>
            </tr>
            <tr>
                <th>Recipient</th>
                <td><a href="{% url 'admin_user_detail' invoice.recipient_id %}">{{ invoice.recipient }}</a></td>
            </tr>
            <tr>
                <th>{% bootstrap_icon "plus" %} Purchases</th>
                <td>{{ invoice.amount_purchases|currency }}</td>
            </tr>
            <tr>
                <th>{% bootstrap_icon "minus" %} Payments</th>
                <td>{{ invoice.amount_payments|currency }}</td>
            </tr>
            <tr>
                <th>{% bootstrap_icon "arrow-right" %} Due</th>
                <td>{{ invoice.due|currency }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ invoice.comment|comment_url_enhancement|safe }}</td>
            </tr>
            <tr>
                <th colspan="2"><h4>Own purchases</h4></th>
            </tr>
            <tr>
                <td colspan="2" style="padding-left: 25px; padding-right: 0;">
                    {% include './purchases_subtable.html' with purchases=own_purchases show_summary=True show_comment=True %}
                </td>
            </tr>
            {% for p_user, purchases in other_purchases_grouped %}
                <tr>
                    <th colspan="2"><h4>Purchases by <a
                            href="{% url 'admin_user_detail' p_user.pk %}">{{ p_user.display_name }}</a></h4></th>
                </tr>
                <tr>
                    <td colspan="2" style="padding-left: 25px; padding-right: 0;">
                        {% include './purchases_subtable.html' with purchases=purchases show_summary=True show_comment=True %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2"><h4>Payments</h4></th>
            </tr>
            <tr>
                <td colspan="2" style="padding-left: 25px; padding-right: 0;">
                    {% include 'barsys/admin/payments_subtable.html' with payments=invoice.payments show_summary=True %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
