{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}
{% load tz %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Invoices</h1>
    <a href="{% url 'admin_invoice_new' %}">
        <button class="btn btn-primary pull-right">{% bootstrap_icon 'plus' %} Create new invoices</button>
    </a>
{% endblock %}
{% block around_table %}
    {% include "./invoices_subtable.html" with invoices=object_list show_user=True %}
{% endblock %}
{% block below_table %}
    <p>{{ paginator.count }} results</p>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=False %}

    <div class="col-md-6">
        <h2>Explanation</h2>
        <p class="text-justify">
            Invoices can automatically be created for unbilled purchases and payments of a user. If a user is
            responsible to pay for other users (i.e. the other user is a dependant), the responsible user sees the
            purchases of the dependant on
            their invoice and has to pay for them. The dependant can get a notification of their purchases (but this is
            not to be seen as an invoice).<br/>
            Only purchases and payments that are invoiced influence a user's account balance.<br/>
            Users with an account balance below a certain threshold (e.g. {{ 0|currency }}) can get a payment reminder.
        </p>

    </div>
{% endblock %}