{% extends 'barsys/admin/base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}

{% block content %}
    <div>
        <div>
            {% block above_table %}{% endblock %}
        </div>
        <div class="table-responsive" style="overflow-x: inherit;">
            {% block around_table %}
                <table class="table table-striped">
                    <thead>
                    {% block tablehead %}{% endblock %}
                    </thead>
                    <tbody>
                    {% block tablebody %}{% endblock %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
        {% block below_table %}{% endblock %}
    </div>

    {% block additional_content %}{% endblock %}
{% endblock %}