{% extends 'barsys/admin/base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}

{% block content %}
    <div>
        <div>
            {% block above_table %}{% endblock %}
        </div>
        <div class="table-responsive" style="overflow-x: inherit;">
            {% block around_table %}
                <table class="table table-striped">
                    <thead>
                    {% block tablehead %}{% endblock %}
                    </thead>
                    <tbody>
                    {% block tablebody %}{% endblock %}
                    </tbody>
                </table>
            {% endblock %}
        </div>
        {% block below_table %}
            <p>{{ paginator.count }} results</p>
            <div class="hidden-xs">
                {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
            </div>
            <div class="visible-xs">
                {% bootstrap_pagination page_obj extra=request.GET.urlencode pages_to_show=4 %}
            </div>
        {% endblock %}
    </div>

    {% block additional_content %}{% endblock %}
{% endblock %}