{% extends 'barsys/admin/base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">

        {% if form.errors %}
            {% bootstrap_alert "Your email and password didn't match. Please try again." 'danger' %}
        {% endif %}
        {% if next %}
            {% if user.is_authenticated %}
                {% bootstrap_alert "Your account doesn't have access to this page. To proceed, please login with an account that has access." 'danger' %}
            {% else %}
                {% bootstrap_alert "Please login to access this area." 'info' %}
            {% endif %}
        {% endif %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading" style="text-align: center;">
                        <h3 class="panel-title">Please sign in</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <p class="bs-component">
                            <table>
                                {{ form|crispy }}
                            </table>
                            </p>
                            <p class="bs-component">
                                <input class="btn btn-success btn-lg" type="submit" value="Submit"/>
                            </p>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}


    <script>
        {% if not user.is_authenticated %}
            $("ul.nav.navbar-nav.navbar-right").css("display", "none");
        {% endif %}
    </script>

{% endblock %}