{% load barsys_helpers %}
{% load tz %}
<table class="table table-striped">
    <thead>
    <th>Created</th>
    <th>Value date</th>
    <th>Payment method</th>
    <th>Comment</th>
    <th>Amount</th>
    </thead>
    <tbody>
    {% for p in payments %}
        <tr>
            <td><a href="{% url 'admin_payment_detail' p.pk %}">{{ p.created_date|localtime|sdatetime }}</a></td>
            <td>{{ p.value_date|sdate }}</td>
            <td>{{ p.get_payment_method_display }}</td>
            <td>{{ p.comment }}</td>
            <td>{{ p.amount|currency }}</td>
        </tr>
    {% endfor %}
    <tr class="table-total-row">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ payments.sum_amount|currency }}</td>
    </tr>
    </tbody>
</table>