{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}
{% load humanize %}
{% load tz %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Payments</h1>
    <div class="btn-group pull-right" role="group">
        <a href="{% url 'admin_payment_new' %}" class="btn btn-primary">
            {% bootstrap_icon 'plus' %} Add new payment
        </a>
        <a href="{% url 'admin_payment_export' %}?{{ request.GET.urlencode }}" class="btn btn-success">
            {% bootstrap_icon 'download' %} Export
        </a>
    </div>
{% endblock %}
{% block around_table %}
    {% include "./payments_subtable.html" with payments=object_list show_user=True %}
{% endblock %}

{% block below_table %}
    <p>{{ paginator.count }} results</p>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=True %}
{% endblock %}