{% extends 'barsys/admin/base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ title }}</h1>
    <form method="post" action="">

        {% crispy form %}
        <hr/>
        {% crispy formset formset.form.helper %}

        <input class="submit btn btn-primary" type="submit" value="Save & add more">
        {% if form.instance.pk %}
            <a class="btn btn-warning" href="{% url 'admin_productautochangeset_import' form.instance.pk %}">Import all
                current products & save</a>
        {% endif %}
        <a class="btn btn-success" href="{% url 'admin_productautochangeset_list' %}">Return to list</a>

    </form>

{% endblock %}