{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}
{% load humanize %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Product change actions</h1>
    <div class="btn-group pull-right" role="group">
        <a href="{% url 'admin_productchangeaction_new' %}" class="btn btn-primary">
            {% bootstrap_icon 'plus' %} Add new PCA
        </a>
    </div>
{% endblock %}
{% block tablehead %}
    <tr>
        <th>Title</th>
        <th>Products</th>
        <th>Toggle active?</th>
        <th>Toggle bold?</th>
        <th>Set price</th>
        <th>{% bootstrap_icon 'flash' %}</th>
        <th>{% bootstrap_icon 'pencil' %}</th>
        <th>{% bootstrap_icon 'trash' %}</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for object in object_list %}
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.products.all|join:", " }}</td>
            <td>{% bool_to_icon object.toggle_active %}</td>
            <td>{% bool_to_icon object.toggle_bold %}</td>
            <td>{% if object.price %}{{ object.price|currency }}{% endif %}</td>
            <td><a href="{% url 'admin_productchangeaction_execute' object.pk %}">{% bootstrap_icon 'flash' %}</a>
            </td>
            <td><a href="{% url 'admin_productchangeaction_update' object.pk %}">{% bootstrap_icon 'pencil' %}</a>
            </td>
            <td><a href="{% url 'admin_productchangeaction_delete' object.pk %}">{% bootstrap_icon 'trash' %}</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block below_table %}
    <p>{{ paginator.count }} results</p>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}

{#{% block additional_content %}#}
{#    {% include "barsys/admin/list_filter.html" %}#}
{#{% endblock %}#}