{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}
{% load humanize %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Product autochange sets</h1>
    <div class="btn-group pull-right" role="group">
        <a href="{% url 'admin_productautochangeset_new' %}" class="btn btn-primary">
            {% bootstrap_icon 'plus' %} Add new PAcS
        </a>
    </div>
{% endblock %}
{% block tablehead %}
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Number of products</th>
        <th>{% bicon 'flash' %}</th>
        <th>{% bicon 'pencil' %}</th>
        <th>{% bicon 'trash' %}</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for object in object_list %}
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.description|truncatechars:60 }}</td>
            <td>{{ object.products.all.count }}</td>
            <td><a href="{% url 'admin_productautochangeset_execute' object.pk %}">{% bicon 'flash' %}</a>
            </td>
            <td><a href="{% url 'admin_productautochangeset_update' object.pk %}">{% bicon 'pencil' %}</a>
            </td>
            <td><a href="{% url 'admin_productautochangeset_delete' object.pk %}">{% bicon 'trash' %}</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block below_table %}
    <p>{{ paginator.count }} results</p>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=False %}

    <div class="col-md-6">
        <h2>Explanation</h2>
        <p class="text-justify">A product autochange set (PAcS) is a set of changes that can be applied to several products at once.
        For example, a price can be set for each product and when the PAcS is executed, all product prices are automatically changed (Happy Hour!).
        </p>
    </div>
{% endblock %}