{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}
{% load humanize %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">{{ title }}</h1>
{% endblock %}
{% block tablehead %}
    <tr>
        {% for title in grouped_by_title %}
            <th>{{ title }}</th>
        {% endfor %}
        <th>Number of purchases</th>
        <th>Average quantity</th>
        <th>Total quantity</th>
        <th>Average cost</th>
        <th>Total sales</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for line in summary %}
        <tr>
            {% for key in grouped_by %}
                <td>{{ line|keyvalue:key }}</td>
            {% endfor %}
            <td>{{ line.num_purchases }}</td>
            <td>{{ line.average_quantity|intcomma }}</td>
            <td>{{ line.total_quantity }}</td>
            <td>{{ line.average_cost|currency }}</td>
            <td>{{ line.total_sales|currency }}</td>
        </tr>
    {% endfor %}
    <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
        {% for dummy in grouped_by %}
            {% if forloop.counter0 == 0 %}
                <td> Total</td>
            {% else %}
                <td></td>
            {% endif %}
        {% endfor %}
        <td> {{ summary_total.num_purchases|default_if_none:0 }} </td>
        <td> {{ summary_total.average_quantity|default_if_none:0|intcomma }} </td>
        <td> {{ summary_total.total_quantity|default_if_none:0 }} </td>
        <td> {{ summary_total.average_cost|default_if_none:0|currency }} </td>
        <td> {{ summary_total.total_sales|default_if_none:0|currency }}</td>
    </tr>
{% endblock %}
{% block below_table %}
    <p>{{ paginator.count }} results</p>
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=True %}
{% endblock %}