{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}
{% load tz %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Purchases</h1>
    <a href="{% url 'admin_purchase_new' %}">
        <button class="btn btn-primary pull-right">{% bootstrap_icon 'plus' %} Add new purchase</button>
    </a>
{% endblock %}
{% block tablehead %}
    <tr>
        <th>Time</th>
        <th>User</th>
        <th>Quantity</th>
        <th>Product name</th>
        <th>Product price</th>
        <th>Cost</th>
        <th>Free item purchase?</th>
        <th>Invoiced?</th>
        <th>{% bicon 'info-sign' %}</th>
        <th>{% bicon 'pencil' %}</th>
        <th>{% bicon 'trash' %}</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for p in object_list %}
        <tr>
            <td><a href="{% url 'admin_purchase_detail' p.pk %}">{{ p.created_date|localtime|sdatetime }}</a></td>
            <td><a href="{% url 'admin_user_detail' p.user.pk %}">{{ p.user.display_name }}</a></td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.product_name }}</td>
            <td>{{ p.product_price|currency }}</td>
            <td>{{ p.cost|currency }}</td>
            <td>{% bool_to_icon p.is_free_item_purchase %}</td>
            <td>
                {% if p.has_invoice %}
                    <a href="{% url 'admin_invoice_detail' p.invoice.pk %}">{% bool_to_icon p.invoice %}</a>
                {% else %}
                    {% bool_to_icon p.invoice %}
                {% endif %}
            </td>
            <td><a href="{% url 'admin_purchase_detail' p.pk %}">{% bicon 'info-sign' %}</a></td>
            <td>
                {% if not p.has_invoice %}
                    <a href="{% url 'admin_purchase_update' p.pk %}">{% bicon 'pencil' %}</a></td>
                {% endif %}
            <td>
                {% if not p.has_invoice %}
                    <a href="{% url 'admin_purchase_delete' p.pk %}">{% bicon 'trash' %}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block below_table %}
    <p>{{ paginator.count }} results</p>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=False %}

    <div class="col-md-6">
        <h2>Explanation</h2>
        <p class="text-justify">Every active user that is a buyer is allowed to purchase products on the main page.<br/>
            When a product is bought, the current product data (e.g. name and price) is copied and saved as a purchase
            (with
            further information about the purchase).
            Changes to a product after it has already been bought therefore have no effect on the purchase.<br/>
            The details of a purchase can be changed manually, as long as it has not been invoiced yet.
            If an invoice exists but the purchase needs to be changed, the invoice needs to be deleted (and later
            recreated).
        </p>
    </div>
{% endblock %}