{% extends 'barsys/admin/base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}
{% load humanize %}
{% block content %}
    <div>
        <h1 class="pull-left" style="margin-top: 0;">Purchase details</h1>
        {% if not purchase.has_invoice %}
            <a href="{% url 'admin_purchase_update' purchase.pk %}">
                <button class="btn btn-primary pull-right">{% bootstrap_icon 'pencil' %} Change</button>
            </a>
        {% endif %}
    </div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Time</th>
            <td>{{ object.created_date }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td><a href="{% url 'admin_user_detail' object.user_id %}">{{ object.user.display_name }}</a></td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ object.quantity }}</td>
        </tr>
        <tr>
            <th>Product name</th>
            <td>{{ object.product_name }}</td>
        </tr>
        <tr>
            <th>Product amount</th>
            <td>{{ object.product_amount }}</td>
        </tr>
        <tr>
            <th>Product category</th>
            <td>{{ object.product_category }}</td>
        </tr>
        <tr>
            <th>Product price</th>
            <td>{{ object.product_price|currency }}</td>
        </tr>
        <tr>
            <th>Cost</th>
            <td>{{ object.cost|currency }}</td>
        </tr>
        <tr>
            <th>Is free item purchase?</th>
            <td>{% bool_to_icon object.is_free_item_purchase %}</td>
        </tr>
        <tr>
            <th>Free item description</th>
            <td>{{ object.free_item_description }}</td>
        </tr>
        <tr>
            <th>Invoice</th>
            <td>{% if object.has_invoice %}
                <a href="{% url 'admin_invoice_detail' object.invoice_id %}">{{ object.invoice }}</a>
            {% else %}
                {% bool_to_icon object.has_invoice %}
            {% endif %}
            </td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ object.comment }}</td>
        </tr>
        <tr>
            <th>Last modified</th>
            <td>{{ object.modified_date }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}