{% load barsys_helpers %}
<table class="table table-striped">
    <thead>
    <th>Time</th>
    <th>Quantity</th>
    <th>Product name</th>
    <th>Amount</th>
    <th>Comment</th>
    <th>Cost</th>
    </thead>
    <tbody>
    {% for p in purchases %}
        <tr>
            <td><a href="{% url 'admin_purchase_detail' p.pk %}">{{ p.created_date|sdatetime }}</a></td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.product_name }}</td>
            <td>{{ p.product_amount }}</td>
            <td>{{ p.comment }}</td>
            <td>{{ p.cost|currency }}</td>
        </tr>
    {% endfor %}
    <tr class="table-total-row">
        <td>Total</td>
        <td>{{ purchases.sum_quantity }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ purchases.sum_cost|currency }}</td>
    </tr>
    </tbody>
</table>