{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Stats Displays</h1>
    <a href="{% url 'admin_statsdisplay_new' %}">
        <button class="btn btn-primary pull-right">{% bootstrap_icon 'plus' %} Add stats display
        </button>
    </a>
{% endblock %}
{% block tablehead %}
    <tr>
        <th>Title</th>
        <th>Filter by category</th>
        <th>Filter by product</th>
        <th>Time period method</th>
        <th>Sort by and show</th>
        <th>Show by default</th>
        <th>{% bicon 'info-sign' %}</th>
        <th>{% bicon 'pencil' %}</th>
        <th>{% bicon 'trash' %}</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for s in object_list %}
        <tr>
            <td><a href="{% url 'admin_statsdisplay_detail' s.pk %}">{{ s.title }}</a></td>
            <td>{% bool_to_icon s.filter_by_category.all %}</td>
            <td>{% bool_to_icon s.filter_by_product.all %}</td>
            <td>{{ s.get_time_period_method_display }}</td>
            <td>{{ s.get_sort_by_and_show_display }}</td>
            <td>{% bool_to_icon s.show_by_default %}</td>

            <td><a href="{% url 'admin_statsdisplay_detail' s.pk %}">{% bicon 'info-sign' %}</a></td>
            <td><a href="{% url 'admin_statsdisplay_update' s.pk %}">{% bicon 'pencil' %}</a></td>
            <td><a href="{% url 'admin_statsdisplay_delete' s.pk %}">{% bicon 'trash' %}</a></td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
{% block below_table %}
    <p>{{ paginator.count }} results</p>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=False %}

    <div class="col-md-6">
        <h2>Explanation</h2>
        <p class="text-justify">
            Stats displays are small statistics on the application main page. For example, it can be calculated who
            spent the most money in the last 7 days ("Big Spender") or who bought the most coffees in the last 31 days
            ("Learner of the Month").
        </p>

    </div>
{% endblock %}
