{% extends 'barsys/admin/base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}
{% block content %}

    <div>
        <h1 class="pull-left" style="margin-top: 0;">User details</h1>
        <div class="btn-group pull-right" role="group">
            <a href="{% url 'admin_user_payment_reminder_send' object.pk %}" class="btn btn-warning">
                {% bootstrap_icon 'warning-sign' %} Send payment reminder
            </a>
            <a href="{% url 'admin_user_update' object.pk %}" class="btn btn-primary">
                {% bootstrap_icon 'pencil' %} Change
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Display name</th>
            <td>{{ object.display_name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ object.email }}</td>
        </tr>

        <tr>
            <th>Active?</th>
            <td>{% bool_to_icon object.is_active %}</td>
        </tr>
        <tr>
            <th>Buyer?</th>
            <td>{% bool_to_icon object.is_buyer %}</td>
        </tr>
        <tr>
            <th>Favorite?</th>
            <td>{% bool_to_icon object.is_favorite %}</td>
        </tr>
        <tr>
            <th>Admin?</th>
            <td>{% bool_to_icon object.is_admin %}</td>
        </tr>
        <tr>
            <th>Autolocked?</th>
            <td>{% bool_to_icon object.is_autolocked %}</td>
        </tr>


        <tr>
            <th>Purchases paid by other</th>
            <td>{% if object.purchases_paid_by_other != None %}
                <a href="{% url 'admin_user_detail' object.purchases_paid_by_other_id %}">{{ object.purchases_paid_by_other }}</a>
            {% else %}
                No
            {% endif %}</td>
        </tr>

        <tr>
            <th>Pays purchases for others</th>
            <td>{% if object.dependents %}
                {% for u in object.dependents %}
                    {% if not forloop.first %} + {% endif %}<a href="{% url 'admin_user_detail' u.pk %}">{{ u }}</a>
                {% endfor %}
            {% else %}
                No
            {% endif %}</td>
        </tr>
        <tr>
            <th>Sum of own purchases</th>
            <td>{{ object.purchases.sum_cost|currency }}</td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ object.created_date }}</td>
        </tr>
        <tr>
            <th>Last modified</th>
            <td>{{ object.modified_date }}</td>
        </tr>

        <tr>
            <th colspan="2"><h4>Account balance</h4></th>
        </tr>

        <tr class="table-total-row">
            <th style="padding-left: 25px;">Current account balance</th>
            <td>{{ object.account_balance|currency }}</td>
        </tr>
        <tr>
            <th style="padding-left: 25px;">{% bootstrap_icon "minus" %} Unbilled purchases</th>
            <td>{{ object.purchases.unbilled.sum_cost|currency }}</td>
        </tr>
        <tr>
            <th style="padding-left: 25px;">{% bootstrap_icon "plus" %} Unbilled payments</th>
            <td>{{ object.payments.unbilled.sum_amount|currency }}</td>
        </tr>

        </tbody>
    </table>

    <div>
        <h1 class="pull-left" style="margin-top: 0;">Purchases</h1>
    </div>
    {% include 'barsys/admin/purchases_subtable.html' with purchases=purchases_page_obj.object_list %}

    <p>{{ purchases_page_obj.paginator.count }} result(s)</p>
    {% bootstrap_pagination purchases_page_obj extra=request.GET.urlencode parameter_name="purchases_page" %}

    <div>
        <h1 class="pull-left" style="margin-top: 0;">Payments</h1>
    </div>
    {% include 'barsys/admin/payments_subtable.html' with payments=payments_page_obj.object_list %}

    <p>{{ payments_page_obj.paginator.count }} result(s)</p>
    {% bootstrap_pagination payments_page_obj extra=request.GET.urlencode parameter_name="payments_page" %}

    <div>
        <h1 class="pull-left" style="margin-top: 0;">Invoices</h1>
    </div>
    {% include 'barsys/admin/invoices_subtable.html' with invoices=invoices_page_obj.object_list %}

    <p>{{ invoices_page_obj.paginator.count }} result(s)</p>
    {% bootstrap_pagination invoices_page_obj extra=request.GET.urlencode parameter_name="invoices_page" %}
{% endblock %}