{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}
{% load humanize %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Users by account balance</h1>
{% endblock %}
{% block tablehead %}
    <tr>
        <th>User</th>
        <th>Account balance</th>
        <th>Last payment</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for u, account_balance in users %}
        <tr>
            <td><a href="{% url 'admin_user_detail' u.pk %}">{{ u.display_name }}</a></td>
            <td>{{ account_balance|currency }}</td>
            <td>{% if u.payments %}{{ u.payments.0.amount|currency }}, {{ u.payments.0.value_date|sdate }}{% else %}
                None{% endif %}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=True %}
{% endblock %}