{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Users</h1>
    <div class="btn-group pull-right" role="group">
        <a href="{% url 'admin_user_new' %}" class="btn btn-primary">
            {% bootstrap_icon 'plus' %} Add new user
        </a>
        <a href="{% url 'admin_user_export' %}?{{ request.GET.urlencode }}" class="btn btn-success">
            {% bootstrap_icon 'download' %} Export
        </a>
    </div>
{% endblock %}
{% block tablehead %}
    <tr>
        <th>Display name</th>
        <th>Email</th>
        <th>Active?</th>
        <th>Buyer?</th>
        <th>Admin?</th>
        <th>Favorite?</th>
        <th>Account balance</th>
        <th>Paid by other</th>
        <th>{% bootstrap_icon 'info-sign' %}</th>
        <th>{% bootstrap_icon 'pencil' %}</th>
        <th>{% bootstrap_icon 'trash' %}</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for user in object_list %}
        <tr>
            <td><a href="{% url 'admin_user_detail' user.pk %}">{{ user.display_name }}</a></td>
            <td>{{ user.email }}</td>
            <td>{% bool_to_icon user.is_active %}</td>
            <td>{% bool_to_icon user.is_buyer %}</td>
            <td>{% bool_to_icon user.is_admin %}</td>
            <td>{% bool_to_icon user.is_favorite %}</td>
            <td>{{ user.account_balance|currency }}</td>
            <td>{% bool_to_icon user.purchases_paid_by_other %}</td>
            <td><a href="{% url 'admin_user_detail' user.pk %}">{% bootstrap_icon 'info-sign' %}</a></td>
            <td><a href="{% url 'admin_user_update' user.pk %}">{% bootstrap_icon 'pencil' %}</a></td>
            <td><a href="{% url 'admin_user_delete' user.pk %}">{% bootstrap_icon 'trash' %}</a></td>
        </tr>
    {% endfor %}
{% endblock %}
{% block below_table %}
    <p>{{ paginator.count }} results</p>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=True %}
{% endblock %}