{% extends 'barsys/admin/list_base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}
{% load humanize %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Users by account balance</h1>
{% endblock %}
{% block tablehead %}
    <tr>
        <th>User</th>
        <th>Account balance</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for u in balances %}
        <tr>
            <td><a href="{% url 'admin_user_detail' u.recipient_id %}">{{ u.recipient__display_name }}</a></td>
            <td>{{ u.account_balance|currency }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/admin/list_filter.html" with center=True %}
{% endblock %}