{% extends 'barsys/base.html' %}

{% load bootstrap3 %}

{% block content %}

<h1>Purchase a product</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'product_purchase' product.id %}" method="post">
{% csrf_token %}
    <input type="radio" name="quantity" id="quantity1" value="1" />
    <label for="quantity1">1</label><br />
    <input type="radio" name="quantity" id="quantity2" value="2" />
    <label for="quantity2">2</label><br />
<input type="submit" value="Buy" />
</form>

{% endblock %}