{% load barsys_helpers %}
<table style="text-align: left;">
    <tbody>
    <tr>
        <th>Recipient</th>
        <td>{{ pybarsys_preferences.EMAIL.BANK_ACCOUNT_RECIPIENT }}</td>
    </tr>
    <tr>
        <th>Bank account No.</th>
        <td>{{ pybarsys_preferences.EMAIL.BANK_ACCOUNT_NUMBER }}</td>
    </tr>
    <tr>
        <th>Routing No.</th>
        <td>{{ pybarsys_preferences.EMAIL.BANK_ACCOUNT_ROUTING_NUMBER }}</td>
    </tr>
    <tr>
        <th>Bank</th>
        <td>{{ pybarsys_preferences.EMAIL.BANK_ACCOUNT_BANK }}</td>
    </tr>
    <tr>
        <th>Payment reference</th>
        <td>{{ pybarsys_preferences.EMAIL.BANK_ACCOUNT_PAYMENT_REFERENCE }} {{ recipient.display_name|clean_str }}</td>
    </tr>
    </tbody>
</table>