{% extends 'barsys/userarea/base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}

{% block content %}

    <div class="container">
        <div>
            <div>
                {% block above_table %}{% endblock %}
            </div>
            <div class="table-responsive" style="overflow-x: inherit;">
                <table class="table table-striped">
                    <thead>
                    {% block tablehead %}{% endblock %}
                    </thead>
                    <tbody>
                    {% block tablebody %}{% endblock %}
                    </tbody>
                </table>
            </div>
            {% block below_table %}{% endblock %}
        </div>

        {% block additional_content %}{% endblock %}
    </div>
{% endblock %}