{% extends 'barsys/userarea/list_base.html' %}

{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load barsys_helpers %}
{% load humanize %}

{% block above_table %}
    <h1 class="pull-left" style="margin-top: 0;">Products</h1>
    <a href="{% url 'admin_product_new' %}">
        <button class="btn btn-primary pull-right">{% bootstrap_icon 'plus' %} Add new product</button>
    </a>
{% endblock %}
{% block tablehead %}
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Price</th>
        <th>Active?</th>
        <th>{% bootstrap_icon 'info-sign' %}</th>
        <th>{% bootstrap_icon 'pencil' %}</th>
        <th>{% bootstrap_icon 'trash' %}</th>
    </tr>
{% endblock %}
{% block tablebody %}
    {% for product in object_list %}
        <tr>
            <td><a href="{% url 'admin_product_detail' product.pk %}">{% if product.is_bold %}
                <strong>{% endif %}{{ product.name }}{% if product.is_bold %}</strong>{% endif %}</a></td>
            <td>{{ product.category }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.price|currency }}</td>
            <td>{% bool_to_icon product.is_active %}</td>
            <td>
                <a href="{% url 'admin_product_detail' product.pk %}">{% bootstrap_icon 'info-sign' %}</a>
            </td>
            <td><a href="{% url 'admin_product_update' product.pk %}">{% bootstrap_icon 'pencil' %}</a>
            </td>
            <td><a href="{% url 'admin_product_delete' product.pk %}">{% bootstrap_icon 'trash' %}</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block below_table %}
    <p>{{ paginator.count }} results</p>
    {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}

{% block additional_content %}
    {% include "barsys/userarea/list_filter.html" %}
{% endblock %}