{% extends 'barsys/userarea/base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}
{% block content %}

    <div class="container">

        <div>
            <h1 class="pull-left" style="margin-top: 0;">Product details</h1>
            <a href="{% url 'admin_product_update' object.pk %}">
                <button class="btn btn-primary pull-right">{% bootstrap_icon 'pencil' %} Change</button>
            </a>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ object.category }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ object.amount }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ object.price|currency }}</td>
            </tr>
            <tr>
                <th>Active?</th>
                <td>{% bool_to_icon object.is_active %}</td>
            </tr>
            <tr>
                <th>Bold?</th>
                <td>{% bool_to_icon object.is_bold %}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}