{% extends 'barsys/userarea/base.html' %}

{% load bootstrap3 %}
{% block content %}

    <div class="container">

        <div>
            <h1 class="pull-left" style="margin-top: 0;">Purchases</h1>
            <a href="{% url 'user_purchase_new' %}"><button class="btn btn-primary pull-right">{% bootstrap_icon 'plus' %} Add new purchase</button></a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Time</th>
                <th>User</th>
                <th>Quantity</th>
                <th>Product name</th>
                <th>Product price</th>
                <th>Cost</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for p in purchase_list %}
                <tr>
                    <td>{{ p.created_date }}</td>
                    <td>{{ p.user.display_name }}</td>
                    <td>{{ p.quantity }}</td>
                    <td>{{ p.product_name }}</td>
                    <td>{{ p.product_price }}</td>
                    <td>{{ p.cost }}</td>
                    <td>
                        <a href="{% url 'user_purchase_detail' p.pk %}">{% bootstrap_icon 'info-sign' %}</a>
                        <a href="{% url 'user_purchase_update' p.pk %}">{% bootstrap_icon 'pencil' %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% bootstrap_pagination page_obj %}
    </div>
{% endblock %}