{% extends 'barsys/userarea/base.html' %}

{% load bootstrap3 %}
{% load barsys_helpers %}
{% load humanize %}
{% block content %}

    <div class="container">

        <div>
            <h1 class="pull-left" style="margin-top: 0;">Purchase details</h1>
            {% if not purchase.has_invoice %}
                <a href="{% url 'user_purchase_update' purchase.pk %}">
                    <button class="btn btn-primary pull-right">{% bootstrap_icon 'pencil' %} Change</button>
                </a>
            {% endif %}
        </div>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Time</th>
                <td>{{ object.created_date }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td><a href="{% url 'user_user_detail' object.user.pk %}">{{ object.user.display_name }}</a></td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ object.quantity }}</td>
            </tr>
            <tr>
                <th>Product name</th>
                <td>{{ object.product_name }}</td>
            </tr>
            <tr>
                <th>Product amount</th>
                <td>{{ object.product_amount }}</td>
            </tr>
            <tr>
                <th>Product category</th>
                <td>{{ object.product_category }}</td>
            </tr>
            <tr>
                <th>Product price</th>
                <td>{{ object.product_price|currency }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ object.cost|currency }}</td>
            </tr>
            <tr>
                <th>Invoice</th>
                <td>{% if object.has_invoice %}
                    <a href="{% url 'user_invoice_detail' object.invoice.pk %}">{{ object.invoice }}</a>
                {% else %}
                    No
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Last modified</th>
                <td>{{ object.modified_date }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}